<%- include('partials/_header') %>

<% if (loginFailed){ %>
  <div class="alert alert-danger" role="alert">
    <h4 style="text-align: center;">Incorrect email/password</h4>
  </div>
<%} %>

<% if(redirect) {%>
  <div class="alert alert-primary" role="alert">
    <h4 style="text-align: center;">You must login to use TinyApp</h4>
  </div>
<% } %>



<main class="form jumbotron">
  
  <h3 class="heading">Login</h3>
 
  <form action="/login" method="POST" class="login-form">
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="Email"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</main>
</body>
</html>